header{
    display: flex;
    height: 50px;
    border: 1px red solid;
    justify-content: space-between;
}

nav{
    display: flex;
    border: 1px solid blue;
    align-items: center;
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
   
}

li{
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid purple;
}